<!doctype html>
<!-- [Kay Server] Copyright, (C) DosX -->
<html>
<head>
<meta charset="UTF-8">
<meta name="Keywords" content="kay software, kay server, main, kay script">
<meta name="Description" content="Читать статьи на kay-software.ru">
<link type="Image/x-icon" href="/favicon.ico" rel="icon">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<title>Kay Server</title>
<link rel="stylesheet" href="../assets/css/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/company_modules.js"></script>
<style>
.go-back {
display: inline-block;
font-size: 15px;
text-shadow: none;
padding: 5px 17px;
color: #313131;
background: #002e2e;
transition: 0.2s linear;
border: 1px solid grey;
color: white;
text-decoration: none;
}
.go-back:hover {
border: 1px solid black;
background: white;
color: black;
}
@media print, screen and (max-width: 720px) {
.go-back {
margin: 8px;
padding: 0px 18px;
}
}
</style>
</head>
<body>
<div id="header">
<nav>
<div class="navbar">
<div class="logo">
<object type="image/svg+xml" data="../assets/images/kslg.svg" width="33" height="33"></object>
</div>
<div class="menu-top">
<ul>
<li><a class="links" href="/dosx"><b>DosX</b></a></li>
<li><a class="links" href="/content/donate">Поддержать</a></li>
<li><a class="links" onclick="alert('Временно недоступно')">Проекты</a></li>
</ul>
</div>
<div class="menu-btn">
<span></span>
<span></span>
<span></span>
</div>
</div>
<div class="menu menu-slice">
<ul>
<li><a class="links" href="/dosx"><b>DosX</b></a></li>
<li><a class="links" href="/content/donate">Поддержать</a></li>
<li><a class="links" onclick="alert('Временно недоступно')">Проекты</a></li>
</ul>
</div>
</nav>
</div>
<div class="wrapper">
<section id="web.container">
<div id="title">
<h1>Kay Server</h1>
<p id="name"><noscript>Что-то не то...</noscript></p>
<hr>
<span class="credits left">Автор: <span id="author"><noscript><a>Ваш браузер</a></noscript></span></span>
<span class="credits right"><a href=".." class="go-back">Назад</a></span>
</div>
<div id="web.container.article">
<noscript>
<h2>Эй</h2>
<p>Привет! Я твой браузер, мне нужна помощь. Я не могу открыть эту статью, поскольку JavaScript для сайтов выключен, либо я уже устарел и не могу понять чего от меня хотят.</p>
<p>Не, ну вот как можно жить с выключенными скриптами?... Вот странные же бывают...</p>
</noscript>
</div>
<script src="loader/client.js" id="application"></script>
<script src="loader/client.config.js" id="application.config"></script>
<script src="loader/client.jquery.js" id="application.jquery_runtime"></script>
<script>
	references.Add("app.strings");
	references.Add("app.main");
let menuBtn = document.querySelector('.menu-btn');
let menu = document.querySelector('.menu');
menuBtn.addEventListener('click', function(){
menuBtn.classList.toggle('active');
menu.classList.toggle('active');
})
</script>
</section>
</div>
</body>
</html>
